In [4]:
import json
import oracledb
import sqlalchemy


dsn_str = oracledb.makedsn("oracle.fiap.com.br", 1521, "ORCL")
connection = oracledb.connect(user='rm558831', password='030405', dsn=dsn_str)

In [5]:
cur = connection.cursor()

In [6]:
cur.execute(
    """
    INSERT INTO AUTOR("ID-autor", NOME)
    VALUES(4, 'Juan')
    """
)

connection.commit()

In [7]:
connection.commit()

In [19]:
cur.execute(
"""
SELECT * FROM AUTOR
""").fetchall()

[]